
*.ninja
.vs/CMake Overview
.vs/cpp-excellenteam/FileContentIndex/1d717d31-79bc-4f9c-b575-4b115030d091.vsidx
.vs/cpp-excellenteam/FileContentIndex/97e7d2ae-538a-424a-bd31-9d4ae0b58bdb.vsidx
.vs/cpp-excellenteam/FileContentIndex/9df596df-9b41-4ff9-ab19-998d75e9c1f3.vsidx
.vs/cpp-excellenteam/FileContentIndex/d6365358-3945-43ae-afa5-019c9dd8bb89.vsidx
.vs/cpp-excellenteam/FileContentIndex/read.lock
.vs/cpp-excellenteam/v17/.wsuo
.vs/cpp-excellenteam/v17/Browse.VC.db
.vs/cpp-excellenteam/v17/ipch/AutoPCH/503640bc03f6fa44/WEEK01_SOLUTION.ipch
.vs/cpp-excellenteam/v17/ipch/AutoPCH/5e837fff1a8fdcbc/VECTOR.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
out/build/x64-debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
out/build/x64-debug/.cmake/api/v1/reply/cache-v2-63664e0ff35f032df028.json
out/build/x64-debug/.cmake/api/v1/reply/cmakeFiles-v1-fa4357c1031ff3c4ad83.json
out/build/x64-debug/.cmake/api/v1/reply/codemodel-v2-a36206ad94462639e8b4.json
out/build/x64-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
out/build/x64-debug/.cmake/api/v1/reply/directory-include-Debug-d173e0f0f2f3c2971879.json
out/build/x64-debug/.cmake/api/v1/reply/directory-src-Debug-c94b7c2814d5a21df52c.json
out/build/x64-debug/.cmake/api/v1/reply/directory-week01_solution-Debug-5997b468e386a06da5d2.json
out/build/x64-debug/.cmake/api/v1/reply/index-2023-03-23T17-46-37-0355.json
out/build/x64-debug/.cmake/api/v1/reply/target-week01_solution-Debug-16de7eea501d571db01e.json
out/build/x64-debug/.cmake/api/v1/reply/toolchains-v1-1e43103a627e726a5cb3.json
out/build/x64-debug/.ninja_deps
out/build/x64-debug/.ninja_log
out/build/x64-debug/cmake_install.cmake
out/build/x64-debug/CMakeCache.txt
out/build/x64-debug/CMakeFiles/3.25.1-msvc1/CMakeCCompiler.cmake
out/build/x64-debug/CMakeFiles/3.25.1-msvc1/CMakeCXXCompiler.cmake
out/build/x64-debug/CMakeFiles/3.25.1-msvc1/CMakeDetermineCompilerABI_C.bin
out/build/x64-debug/CMakeFiles/3.25.1-msvc1/CMakeDetermineCompilerABI_CXX.bin
out/build/x64-debug/CMakeFiles/3.25.1-msvc1/CMakeRCCompiler.cmake
out/build/x64-debug/CMakeFiles/3.25.1-msvc1/CMakeSystem.cmake
out/build/x64-debug/CMakeFiles/3.25.1-msvc1/CompilerIdC/CMakeCCompilerId.c
out/build/x64-debug/CMakeFiles/3.25.1-msvc1/CompilerIdC/CMakeCCompilerId.exe
out/build/x64-debug/CMakeFiles/3.25.1-msvc1/CompilerIdC/CMakeCCompilerId.obj
out/build/x64-debug/CMakeFiles/3.25.1-msvc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/x64-debug/CMakeFiles/3.25.1-msvc1/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/x64-debug/CMakeFiles/3.25.1-msvc1/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/x64-debug/CMakeFiles/cmake.check_cache
out/build/x64-debug/CMakeFiles/CMakeOutput.log
out/build/x64-debug/CMakeFiles/ShowIncludes/foo.h
out/build/x64-debug/CMakeFiles/ShowIncludes/main.c
out/build/x64-debug/CMakeFiles/ShowIncludes/main.obj
out/build/x64-debug/CMakeFiles/TargetDirectories.txt
out/build/x64-debug/include/cmake_install.cmake
out/build/x64-debug/src/cmake_install.cmake
out/build/x64-debug/Testing/Temporary/LastTest.log
out/build/x64-debug/VSInheritEnvironments.txt
out/build/x64-debug/week01_solution/cmake_install.cmake
out/build/x64-debug/week01_solution/CMakeFiles/week01_solution.dir/embed.manifest
out/build/x64-debug/week01_solution/CMakeFiles/week01_solution.dir/intermediate.manifest
out/build/x64-debug/week01_solution/CMakeFiles/week01_solution.dir/manifest.rc
out/build/x64-debug/week01_solution/CMakeFiles/week01_solution.dir/manifest.res
out/build/x64-debug/week01_solution/CMakeFiles/week01_solution.dir/vc140.idb
out/build/x64-debug/week01_solution/CMakeFiles/week01_solution.dir/vc140.pdb
out/build/x64-debug/week01_solution/CMakeFiles/week01_solution.dir/Vector.cpp.obj
out/build/x64-debug/week01_solution/CMakeFiles/week01_solution.dir/week01_solution.cpp.obj
out/build/x64-debug/week01_solution/week01_solution.exe
out/build/x64-debug/week01_solution/week01_solution.ilk
out/build/x64-debug/week01_solution/week01_solution.pdb
Chess/.vs/Chess/FileContentIndex/aa1198a1-017e-4335-bc53-a56e71d395e4.vsidx
Chess/.vs/Chess/FileContentIndex/ac40dfd1-e39d-4d29-a824-791683e9ca50.vsidx
Chess/.vs/Chess/FileContentIndex/bbfc1939-de21-436f-8ae7-67b6c01c51e7.vsidx
Chess/.vs/Chess/FileContentIndex/efac7fe9-9914-4827-b62d-e85f78041b90.vsidx
Chess/.vs/Chess/FileContentIndex/read.lock
Chess/.vs/Chess/v17/.wsuo
Chess/.vs/Chess/v17/Browse.VC.db
Chess/.vs/Chess/v17/ipch/AutoPCH/139c2b9e0d5730d4/KING.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/1521e755c4422e1d/QUEEN.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/16db3934e237f708/BISHOP.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/20b042f88d3ef5a3/PAWN.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/23a968becbb3bee2/MAIN.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/27a4144ffc73be3f/CHESSBOARD.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/289d9e884a31851b/BOARD.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/310325fa6d66dbf9/BISHOP.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/37c6255a40a448a/ROOK.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/3914581d334b5107/ROOK.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/3b2065971a68339b/KNIGHT.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/4056a0a59d7e2bf2/KING.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/42b8c739eecd61a5/KING.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/4b56a4a9817cb392/CHESSBOARD.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/5362d76fad5ebad0/PAWN.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/5462804caaeb9c44/ROOK.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/67b4942a1c3f74c/KNIGHT.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/6ea2082345c78ba/KNIGHT.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/71ea0c2a4c17a0c4/CHESSSQUARE.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/72c5d01c16a0ae27/MAIN.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/73a966c654939bbf/BOARD.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/7945d6007b144bad/PAWN.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/8af36864bca2f8a1/CHESSBOARD.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/90b1b832632629b4/CHESSSQUARE.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/9433f48887335adf/BOARDPAIR.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/9ac3d291b482b1e9/GAMEOBJECT.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/9d5d527ef25e2107/CHESSSQUARE.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/cb583d41d165c384/GAMEOBJECT.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/ce4a63cb763cec7/CHESS.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/d8b3654b2a862a68/BOARD.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/e5a1029a5bc564c7/CHESSPIECE.ipch
Chess/.vs/Chess/v17/ipch/AutoPCH/ec84e0e6ec0e0472/CHESSPIECE.ipch
Chess/.vs/CMake Overview
Chess/.vs/cmake.db
Chess/.vs/launch.vs.json
Chess/.vs/ProjectSettings.json
Chess/.vs/slnx.sqlite
Chess/.vs/VSWorkspaceState.json
Chess/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
Chess/out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-1c6b27d6926436708916.json
Chess/out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-4ab9cdeaf2d5bb564817.json
Chess/out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-7e019d65dea02fa93210.json
Chess/out/build/x64-Debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
Chess/out/build/x64-Debug/.cmake/api/v1/reply/directory-include-Debug-d173e0f0f2f3c2971879.json
Chess/out/build/x64-Debug/.cmake/api/v1/reply/directory-src-Debug-c94b7c2814d5a21df52c.json
Chess/out/build/x64-Debug/.cmake/api/v1/reply/index-2023-04-16T07-55-08-0974.json
Chess/out/build/x64-Debug/.cmake/api/v1/reply/target-Chess-Debug-1abb0b27a438854b0a34.json
Chess/out/build/x64-Debug/.cmake/api/v1/reply/toolchains-v1-b474d236ef76f97b6564.json
Chess/out/build/x64-Debug/.ninja_deps
Chess/out/build/x64-Debug/.ninja_log
Chess/out/build/x64-Debug/Chess.exe
Chess/out/build/x64-Debug/Chess.ilk
Chess/out/build/x64-Debug/Chess.pdb
Chess/out/build/x64-Debug/cmake_install.cmake
Chess/out/build/x64-Debug/CMakeCache.txt
Chess/out/build/x64-Debug/CMakeFiles/3.25.1-msvc1/CMakeCCompiler.cmake
Chess/out/build/x64-Debug/CMakeFiles/3.25.1-msvc1/CMakeCXXCompiler.cmake
Chess/out/build/x64-Debug/CMakeFiles/3.25.1-msvc1/CMakeDetermineCompilerABI_C.bin
Chess/out/build/x64-Debug/CMakeFiles/3.25.1-msvc1/CMakeDetermineCompilerABI_CXX.bin
Chess/out/build/x64-Debug/CMakeFiles/3.25.1-msvc1/CMakeRCCompiler.cmake
Chess/out/build/x64-Debug/CMakeFiles/3.25.1-msvc1/CMakeSystem.cmake
Chess/out/build/x64-Debug/CMakeFiles/3.25.1-msvc1/CompilerIdC/CMakeCCompilerId.c
Chess/out/build/x64-Debug/CMakeFiles/3.25.1-msvc1/CompilerIdC/CMakeCCompilerId.exe
Chess/out/build/x64-Debug/CMakeFiles/3.25.1-msvc1/CompilerIdC/CMakeCCompilerId.obj
Chess/out/build/x64-Debug/CMakeFiles/3.25.1-msvc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
Chess/out/build/x64-Debug/CMakeFiles/3.25.1-msvc1/CompilerIdCXX/CMakeCXXCompilerId.exe
Chess/out/build/x64-Debug/CMakeFiles/3.25.1-msvc1/CompilerIdCXX/CMakeCXXCompilerId.obj
Chess/out/build/x64-Debug/CMakeFiles/Chess.dir/embed.manifest
Chess/out/build/x64-Debug/CMakeFiles/Chess.dir/intermediate.manifest
Chess/out/build/x64-Debug/CMakeFiles/Chess.dir/manifest.rc
Chess/out/build/x64-Debug/CMakeFiles/Chess.dir/manifest.res
Chess/out/build/x64-Debug/CMakeFiles/Chess.dir/src/Chess.cpp.obj
Chess/out/build/x64-Debug/CMakeFiles/Chess.dir/src/ChessBoard.cpp.obj
Chess/out/build/x64-Debug/CMakeFiles/Chess.dir/src/King.cpp.obj
Chess/out/build/x64-Debug/CMakeFiles/Chess.dir/src/main.cpp.obj
Chess/out/build/x64-Debug/CMakeFiles/Chess.dir/src/Rook.cpp.obj
Chess/out/build/x64-Debug/CMakeFiles/Chess.dir/vc140.pdb
Chess/out/build/x64-Debug/CMakeFiles/cmake.check_cache
Chess/out/build/x64-Debug/CMakeFiles/CMakeOutput.log
Chess/out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
Chess/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
Chess/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
Chess/out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
Chess/out/build/x64-Debug/include/cmake_install.cmake
Chess/out/build/x64-Debug/src/cmake_install.cmake
Chess/out/build/x64-Debug/Testing/Temporary/LastTest.log
Chess/out/build/x64-Debug/VSInheritEnvironments.txt
